In [ ]:
자연수 n을 입력받아 "출력 예"와 같이 n x n크기에 공백으로 구분하여 출력되는 프로그램을 작성하시오.
10 미만의 홀수만 출력하시오.주의! 숫자는 공백으로 구분하되 줄사이에 빈줄은 없다.

1 3 5
7 9 1
3 5 7

In [80]:

n = int(input())
z = 1

for k in range(n):
    
    for i in range(n):
        
        z %= 10
        print(z, end = ' ')
        z += 2

        
    print()

3
1 3 5
7 9 1
3 5 7

In [81]:

n = int(input())
z = 1

for k in range(n):
    
    for i in range(n):
        
        if z < 10:
     
            print(z, end = ' ')
            z += 2
            
        elif z >= 10:
            
            z = 1
            print(z, end = ' ')
            z += 2

        
    print()

3
1 3 5
7 9 1
3 5 7

In [37]:
a = [1,2,3]

b = [1,2]

print(a + b)

[1, 2, 3, 1, 2]

In [28]:
a = int(input())

b = list(map(int, input().split()))

if len(b) == a:
    print(round(sum(b)/len(b) , 2))

3
99 65 30
64.67

0

In [ ]:
100 미만의 양의 정수들이 주어진다. 

입력받다가 0 이 입력되면 마지막에 입력된 0 을 제외하고 

그 때까지 입력된 정수의 십의 자리 숫자가 각각 몇 개인지 

작은 수부터 출력하는 프로그램을 작성하시오. (0개인 숫자는 출력하지 않는다.)

In [61]:
result = []
result2 = []

while True:
    
    a = int(input())
    
    if a != 0:
        result.append(a)
        
    elif a == 0:
        break

result.sort()
        
for i in result:
    
    if i >= 10:
        
        result2.append(i // 10)
        
    elif i < 10:
        
        result2.append(0)

for i in range(10):
    
    if result2.count(i) >= 1:
        
        print(str(i) + " : " + str(result2.count(i)))

89
45
16
2
4
71
65
94
3
10
0
0 : 3
1 : 2
4 : 1
6 : 1
7 : 1
8 : 1
9 : 1

In [57]:
print(result2)

[0, 1, 5, 5, 6, 6, 8]

In [54]:
10 55 3 63 85 61 85 0

9