In [ ]:
100 이하의 자연수를 입력받아 첫 번째 항은 100으로 두 번째 항은 입력받은 수로 초기화하고 다음 항부터는 전전항에서 전항을 뺀 수로 채워나가는 수열을 작성하여 그 수가 음수가 나올 때까지 출력하는 프로그램을 작성하시오.

62

100 62 38 24 14 10 4 6 -2

In [4]:
n = int(input())
result = [100]
result.append(n)

while result[-1] >= 0:
    
    a = result[-2] - result[-1]
    result.append(a)
   
print(result)

62
[100, 62, 38, 24, 14, 10, 4, 6, -2]

In [2]:
result

[100, 62, 38, 24, 14, 10, 4, 6, -2]

In [ ]:
10 미만의 자연수 두 개를 입력받아서 

첫 번째 항과 두 번째 항을 입력받은 수로 초기화 시킨 후

세 번째 항부터는 전전항과 전항의 합을 구하여 

그 합의 1의 자리로 채워서 차례로 10개를 출력하는 프로그램을 작성하시오.


3 5

3 5 8 3 1 4 5 9 4 3

In [6]:
a, b = list(map(int,input().split()))
result = [a, b]

while len(result) < 10:
    
    plus = result[-2] + result[-1]
    result.append(plus%10)

print(result)

3 5
[3, 5, 8, 3, 1, 4, 5, 9, 4, 3]

In [ ]:
8
10 50 40 7 3 110 90 2

10 40 7 50 3 90 2 110

In [31]:
a = int(input())
n = list(map(int, input().split()))

n.sort()

low = []
high = []


for i in range(a):
    
    if i < a/2:
        low.append(n[i])
        
    else:
        high.append(n[i])
        
high.sort(reverse=True)
        
for k in range(a):
    
    if k%2==0:
        
        print(low.pop(), end=' ')
    else:
        
        print(high.pop(), end=' ')

8
10 50 40 7 3 110 90 2
10 40 7 50 3 90 2 110

In [34]:
b = a/2

In [36]:
n

[2, 3, 7, 10, 40, 50, 90, 110]

In [24]:
low

[2, 3, 7, 10]

In [26]:
high

[40, 50, 90, 110]

In [28]:
a = [1,2,3]

print(a.pop(1))

2

In [29]:
a

[1, 3]