In [1]:
str1="Data"

In [2]:
str1

'Data'

In [3]:
print(str1)

Data

In [4]:
print(type(str1))

<class 'str'>

In [12]:
bool1 = True
str2="Scientist"
float1="10.6"
int1=6
list1=[str1,str2]
dict1={"name":"lsw","age":26}
tuple1=3,5,7
set1={7,8,9}

In [14]:
radius=10
pi=3.1415
print("원의 넓이는?", pi * radius**2)

원의 넓이는? 314.15000000000003

In [15]:
int(6.6)

6

In [16]:
str(2)

'2'

In [17]:
c = [27,44,59,27,100]
d = [26,72,88,102,160,27,220,620]

In [18]:
print(type(d),d)

<class 'list'> [26, 72, 88, 102, 160, 27, 220, 620]

In [19]:
print(d[0]+d[1]+d[1])

170

In [20]:
print(d[0:3])

[26, 72, 88]

In [21]:
print(d[2:])

[88, 102, 160, 27, 220, 620]

In [23]:
print('c+d',c+d)

c+d [27, 44, 59, 27, 100, 26, 72, 88, 102, 160, 27, 220, 620]

In [24]:
a=(c+d)

In [25]:
a

[27, 44, 59, 27, 100, 26, 72, 88, 102, 160, 27, 220, 620]

In [26]:
x=[12,5,6,7,8,9]
x

[12, 5, 6, 7, 8, 9]

In [27]:
x

[12, 5, 6, 7, 8, 9]

In [28]:
print(x)

[12, 5, 6, 7, 8, 9]

In [29]:
print(5 in x)

True

In [30]:
print(200 in x)

False

In [31]:
x[0]

12

In [34]:
del x[5]

IndexError: list assignment index out of range

In [35]:
x

[12, 5, 6, 7, 8]

In [37]:
x.append(5000)
x

[12, 5, 6, 7, 8, 5000, 5000]

In [38]:
x.sort()

In [39]:
x

[5, 6, 7, 8, 12, 5000, 5000]

In [40]:
x.insert(2,900)
x

[5, 6, 900, 7, 8, 12, 5000, 5000]

In [41]:
x.remove(8)
x

[5, 6, 900, 7, 12, 5000, 5000]

In [42]:
x.pop()

5000

In [43]:
x

[5, 6, 900, 7, 12, 5000]

In [44]:
del x[3:]

In [45]:
x

[5, 6, 900]

In [46]:
a=()

In [47]:
a

()

In [48]:
type(a)

tuple

In [49]:
b = (1,)

In [51]:
c = (1,2,3,4)

In [52]:
d= (20,30, ('a','b','c'))

In [53]:
d

(20, 30, ('a', 'b', 'c'))

In [54]:
printc

NameError: name 'printc' is not defined

In [55]:
print(c)

(1, 2, 3, 4)

In [56]:
print(c[2])
print(d[2][1])
print(c+d)

3
b
(1, 2, 3, 4, 20, 30, ('a', 'b', 'c'))

In [57]:
c

(1, 2, 3, 4)

In [59]:
q = {'name':'JUNG', 'phone': '01000000000', 'area': '00121'}
w = {'korea':'seoul', 'GBR': 'London', 'FRA':"Paris"}

In [60]:
w

{'korea': 'seoul', 'GBR': 'London', 'FRA': 'Paris'}

In [61]:
print(q)

{'name': 'JUNG', 'phone': '01000000000', 'area': '00121'}

In [62]:
print(w)

{'korea': 'seoul', 'GBR': 'London', 'FRA': 'Paris'}

In [63]:
w["DEN"] = "Copenhagen"

In [64]:
print(w)

{'korea': 'seoul', 'GBR': 'London', 'FRA': 'Paris', 'DEN': 'Copenhagen'}

In [65]:
print(q.keys())

dict_keys(['name', 'phone', 'area'])

In [66]:
print(w.keys())

dict_keys(['korea', 'GBR', 'FRA', 'DEN'])

In [67]:
print(w.values())

dict_values(['seoul', 'London', 'Paris', 'Copenhagen'])

In [68]:
print(w.items())

dict_items([('korea', 'seoul'), ('GBR', 'London'), ('FRA', 'Paris'), ('DEN', 'Copenhagen')])

In [69]:
print(list(w.items()))

[('korea', 'seoul'), ('GBR', 'London'), ('FRA', 'Paris'), ('DEN', 'Copenhagen')]

In [70]:
print('name' in q)

True

In [71]:
'name' in q

True

In [72]:
a=set()

In [73]:
b=set([1,2,3,4])
c=set([1,4,5,6])
d=set([1,2,'Pen', 'Cap', 'Plate'])

In [74]:
t = tuple(b)

In [75]:
t

(1, 2, 3, 4)

In [76]:
b.add(5)

In [77]:
b

{1, 2, 3, 4, 5}

In [78]:
b.remove(5)

In [79]:
b

{1, 2, 3, 4}

In [80]:
b.add(5)
b.remove(2)

In [81]:
b

{1, 3, 4, 5}

In [82]:
print(b & c)

{1, 4, 5}

In [83]:
print(a|b)

{1, 3, 4, 5}

In [84]:
print(a -b)

set()

In [85]:
c

{1, 4, 5, 6}

In [86]:
b

{1, 3, 4, 5}

In [87]:
b-c

{3}

In [88]:
print(b-c)

{3}

In [ ]:
\ q