In [1]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른", "덴마크":"코펜하겐"}

In [2]:
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [4]:
country_capital.keys()

dict_keys(['영국', '프랑스', '스위스', '호주', '덴마크'])

In [10]:
country_capital['런던']

KeyError: '런던'

In [11]:
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [12]:
country_capital2={"한국":"서울"}

In [13]:
country_capital.update(country_capital2)

In [14]:
cluntry_capital

NameError: name 'cluntry_capital' is not defined

In [15]:
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '한국': '서울'}

In [16]:
tuple7=('a','a','a','b','b','c','d')

In [17]:
tuple7.count('a')

3

In [20]:
hyoin={"미국1":"샌프란시스코","미국2":"라스베가스","일본":"온천"}

In [21]:
hyoin

{'미국1': '샌프란시스코', '미국2': '라스베가스', '일본': '온천'}

In [22]:
hyoin.items()

dict_items([('미국1', '샌프란시스코'), ('미국2', '라스베가스'), ('일본', '온천')])

In [23]:
print(hyoin.items())

dict_items([('미국1', '샌프란시스코'), ('미국2', '라스베가스'), ('일본', '온천')])

In [24]:
avg_sub = {"국어":80, "영어": 75, "수학":55}

In [67]:
a= avg_sub.values()
b=list(a)
b

[80, 75, 55]

In [107]:
avg_sub = {"국어":80, "영어": 75, "수학":55}
a= avg_sub.values()
b=list(a)
b
result=0

for i in b:
    result += i
        
a = result
a

210

In [55]:
a("국어")

TypeError: 'dict_values' object is not callable

In [27]:
#1번
a=(1,2,3,4)
b=list(a)
print(b)

[1, 2, 3, 4]

In [31]:
#2번
a2="abcdefghijklmn"
a3= a2[2:5]
print(a3)

cde

In [34]:
#3번
h={"adult":100000, "teen": 70000, "child":30000}
print(h)

{'adult': 100000, 'teen': 70000, 'child': 30000}

In [36]:
#4번
h2={'baby':0}
h.update(h2)
print(h)

{'adult': 100000, 'teen': 70000, 'child': 30000, 'baby': 0}

In [37]:
#5번
h.keys()

dict_keys(['adult', 'teen', 'child', 'baby'])

In [38]:
#6번
h.values()

dict_values([100000, 70000, 30000, 0])

In [41]:
#7번
hyoin=["Strawberry","Apple","Orange"]
hyoin.remove("Apple")
hyoin

['Strawberry', 'Orange']

In [43]:
#7_1
hyoin=["Strawberry","Apple","Orange"]
del hyoin[1]
hyoin

['Strawberry', 'Orange']

In [84]:
print('{var1} are {var2}'.format(var1= 'You',var2='Me'))

You are Me

In [85]:
print("Test1: %5d, Price:%4.2f" % (776, 6534.123))

Test1:   776, Price:6534.12

In [90]:
print("Test1: {a:5d}, Price: {b:4.2f}".format(a=776, b=6534.123))

Test1:   776, Price: 6534.12

In [91]:
data1 = int(input())

data2 = int(input())

print(data1 + data2)

26
32
58

In [109]:
print("Best", "python","book", sep="-:*:-")

Best-:*:-python-:*:-book

In [110]:
print("Best", "python","book" + ":", "This Book")

Best python book: This Book

In [111]:
x = 10
print(x)

10

In [112]:
name = "HYOIN"
id_num = 789
print("name:", name + ",", "ID Number:", id_num)

name: HYOIN, ID Number: 789

In [114]:
print("Hyoin is my friend.\nHe is Korean")

Hyoin is my friend.
He is Korean

In [115]:
print("Hyoin is my friend.\n\nHe is Korean")

Hyoin is my friend.

He is Korean

In [118]:
print("Welcome to ", end="fd")
print("python!")

Welcome to fdpython!

In [119]:
name = "광재"
print("%s는 나의 친구입니다." %name)

광재는 나의 친구입니다.

In [120]:
print("{0:.1%}".format(0.3258))

32.6%

In [121]:
hyoin=input("당신의 이름은?")
print("당신은 {}이군요.".format(hyoin))

당신의 이름은?정효인
당신은 정효인이군요.

In [2]:
a = input("정사각형 한 변의 길이는?: ")
area = float(a) **2
print("길이 {1}의 정사각형 넓이: {0}".format(area,a))

정사각형 한 변의 길이는?: 1.5
길이 1.5의 정사각형 넓이: 2.25

In [1]:
a = input("정사각형 한 변의 길이는?: ")
area = float(a) **2
print("길이 {1}의 정사각형 넓이: {0}".format(area,a))

정사각형 한 변의 길이는?: 10
길이 10의 정사각형 넓이: 100.0

In [ ]:
a = input("정사각형 한 변의 길이는?: ")
a

In [11]:
x= 89
if x>=90:
    print("Pass")

else:
    print("Fail")

Fail

In [14]:
grade = 3
score = 320

if grade<=1:
    if score >= 320:
        print("너 A등급")
    elif score >=260:
        print("너 B등급")
    else:
        print("너 저리가")
else:
    print("넌 등급안에 없어")

넌 등급안에 없어

In [15]:
data = int(input("값을 입력하세요."))

if data%2 ==0:
    print("짝수입니다")
else:
    print("홀수입니다")

값을 입력하세요.33
홀수입니다

In [20]:
data1 = int(input("값을 입력하세요."))
data2 = int(input("값을 입력하세요."))
data3 = int(input("값을 입력하세요."))

if data1 <= data2 and data1 <= data3:
    print(data1)
elif data2 <= data1 and data2 <= data3:
    print(data2)
elif data3 <= data1 and data3 <= data2:
    print(data3)

print("입니다.")

값을 입력하세요.10
값을 입력하세요.5
값을 입력하세요.15
5
입니다.

In [26]:
data = input("주민번호는?")
print("출생년도:", data[0:2], "년도")

주민번호는?43343434

TypeError: 'int' object is not subscriptable

In [27]:
data = input("주민번호는?")

if data[6] == "1":
    print("남자입니다")
else:
    print("여자입니다")

주민번호는?9999991111111
남자입니다

In [31]:
def gugu(n):
    result = []
    result.append(n*1)
    result.append(n*2)
    result.append(n*3)
    result.append(n*4)
    result.append(n*5)
    result.append(n*6)
    result.append(n*7)
    result.append(n*8)
    result.append(n*9)
    return result

print(gugu(2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [33]:
def gugu(n):
    result = []
    i = 1
    while i < 10:
        result.append(n*i)
        i += 1
    return result

print(gugu(2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [40]:
result = 0
for n in range(1,1000):
    if n % 3 ==0 or n % 5 ==0:
        result += n
print(result)

233168

In [41]:
for i in range(3):
    print(i)

0
1
2

In [42]:
for a in ["python", "java", "R"]:
    print("우리가 여기서 배우는 언어", a)

우리가 여기서 배우는 언어 python
우리가 여기서 배우는 언어 java
우리가 여기서 배우는 언어 R

In [43]:
for data in 리스트변수:
    print(data)

NameError: name '리스트변수' is not defined

In [44]:
for data in range(반복횟수):
    print(data)

NameError: name '반복횟수' is not defined

In [47]:
sum = 0
for i in range(1,101):
    sum += i

print(sum)

5050

In [48]:
names = ["kim", "park", "lee", "jung", "choi", "yeo"]

for name in names:
    print("You are", name)
    
my_info = {
    "name": "lee",
    "age" : 26,
    "city" : "seoul"
}

You are kim
You are park
You are lee
You are jung
You are choi
You are yeo

In [51]:
numbers = [14,3,4,7,10,24,17,2,33,15,34,36,38]

for num in numbers:
    if num == 33:
        print("찾았다:33!")
        break
    else:
        print("못찾았다",num)

못찾았다 14
못찾았다 3
못찾았다 4
못찾았다 7
못찾았다 10
못찾았다 24
못찾았다 17
못찾았다 2
찾았다:33!

In [53]:
it = ["1", 2, 5, True, 4, 3, complex(4)]

for i in it:
    if type(i) is float:
        countinue

print("type:", type(i))
print("multiply by 2:", i*3)

type: <class 'complex'>
multiply by 2: (12+0j)

In [54]:
numbers = [1,2,3,4,5]
square = [i**2 for i in numbers if i>=3]

print(square)

[9, 16, 25]

In [56]:
q = ['A','b','c','D','e','F','G','h']
print([s.upper() if s.islower() else s.lower() for s in q])

['a', 'B', 'C', 'd', 'E', 'f', 'g', 'H']

In [ ]:
print("성적을 입력하시오") 
hi = int(input())

if hi > 80 and hi <= 100:
    print("A학점")
elif hi > 60 and hi <= 80:
    print("B학점")
elif hi > 40 and hi <= 60:
    print("C학점")
elif hi > 20 and hi <= 40:
    print("D학점")
else:
    print("E학점")

성적을 입력하시오

In [22]:
#3번

q4 = ["nice", "study", "python", "anaconda", "!"]


hi1 = [q4[i] for i in range(0,5) if len(q4[i])>=5]

print([s for s in q4 if len(s) >= 5])

print(hi1)

['study', 'python', 'anaconda']
['study', 'python', 'anaconda']

In [21]:
a = [12,6,18]

hi2 = [a[i] for i in range(0,3) if ]

In [24]:
def hello(pname):
    print("Hello", pname)

In [25]:
p1 = "data"
hello(p1)

Hello data

In [27]:
def d_return(pname):
    val = "data," + str(pname)
    return val

In [28]:
d_return("master")

'data,master'

In [30]:
def func_mul(x):
    y1 = x*2
    y2 = x*4
    y3 = x*6
    return y1, y2, y3

In [31]:
v1, v2, v3 = func_mul(3)

In [32]:
print(v1,v2,v3)

6 12 18

In [33]:
print(type(v1))

<class 'int'>

In [34]:
def func_mul(x):
    y1 = x*2
    y2 = x*4
    y3 = x*6
    return [y1, y2, y3]

In [35]:
a = v1, v2, v3 = func_mul(6)

In [36]:
print(a)

[12, 24, 36]

In [37]:
print(type(a))

<class 'list'>

In [38]:
def func_mul(x):
    y1 = x*2
    y2 = x*4
    y3 = x*6
    return {'r1':y1,'r2': y2,'r3': y3}

In [39]:
a = v1, v2, v3 = func_mul(6)
print(a)

{'r1': 12, 'r2': 24, 'r3': 36}

In [40]:
print(a.items())

dict_items([('r1', 12), ('r2', 24), ('r3', 36)])

In [41]:
print(v1)

r1

In [46]:
def func_mul(x):
    y1 = x*2
    y2 = x*4
    y3 = x*6
    return y1, y2, y3

v1, v2, v3 = func_mul(10)

func_mul(10)

(20, 40, 60)

In [56]:
def say():
    print('Hi')

a = say()

Hi

In [57]:
a = 5

def func1():
        a = 1
        print("[func1] 지역 변수 a =", a)
        
def func2():
        a = 2
        print("[func1] 지역 변수 a =", a)

def func3():
        print("[func1] 전역 변수 a =", a)
        
def func4():
        global a
        a = 4
        print("[func1] 전역 변수 a =", a)

In [60]:
func1()
func2()
func3()
func4()

[func1] 지역 변수 a = 1
[func1] 지역 변수 a = 2
[func1] 전역 변수 a = 5
[func1] 전역 변수 a = 4

In [61]:
func1()
func2()
func3()
func4()

[func1] 지역 변수 a = 1
[func1] 지역 변수 a = 2
[func1] 전역 변수 a = 4
[func1] 전역 변수 a = 4

In [62]:
func1()
func2()
func3()
func4()

[func1] 지역 변수 a = 1
[func1] 지역 변수 a = 2
[func1] 전역 변수 a = 4
[func1] 전역 변수 a = 4

In [64]:
def args_func(*args):
    print(args)
    
def args_func(*args):
    print(type(args))
    
def args_func(*args):
    for a in args:
        print(a)

def args_func(*args):
    for i, v in enumerate(args):
        print(i,v)

In [68]:
def args_func(*args):
    print(args)

args_func(3334)

(3334,)

In [73]:
def args_func(*args):
    print(args)
    
def args_func(*args):
    print(type(args))
    
    
args_func(3,4,3)

<class 'tuple'>